.composition {
    position: relative;

    &__photo {        
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 0.2rem;
        position: absolute;
        transition: all .2s;
        outline-offset: 1.5rem;
        z-index: 10;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0rem;
            top: 2rem;
        }
        &--p3 {
            left: 10rem;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.1) translateY(-1.4rem);
            z-index: 20;
            box-shadow: 0 2rem 4rem rgba($color-black, .8);
                       
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}